@{
  Layout = "_Layout";
}
  <div id = "welcome">
    <div class="jumbtron">
      <h1>Welcome to Pierre's!!</h1>
    </div>
  </div>
<div class="card">
  <div class="container">
  <img src=https://www.istockphoto.com/photo/many-mixed-breads-and-rolls-shot-from-above-gm475263838-65237549?phrase=bread&searchscope=image%2Cfilm>
  <p> Let us help you with your bread and pastry needs.
  </p>
</div>
</div>
<div id= "links">
<div class="container">
<h3><a href='/Vendor'>View Vendors</a></h3>
<h3><a href='/Vendor/New'>Add a new Vendor</a></h3>
<h3><a href='/Vendor/Search'>Search for a vendor</a></h3>
</div>
</div>
</div>